.page-header
  %h1
    GeoLocation Challenge
    =link_to "Main Page", root_path, class: "btn btn-success btn-xs"
    =link_to "About", landing_about_path, class: "btn btn-success btn-xs"
.div.main
  .row
    .col-md-4.col-md-offset-1
      %h1.main-header Locations
  .row
    .col-md-6.col-md-offset-1.locations.well
      .h2 All Locations
      -if @locations.length > 1
        -@locations.limit(@locations.length - 1).each do |loc|
          .ul
            .li
              .h4
                #{loc.name}
                %small.pull-right
                  .h6 Latitude: #{loc.latitude} Longitude: #{loc.longitude}
              #{loc.address_1}
